<nav class="navbar navbar-expand-md bg-light">

  <!-- Links -->
  <ul class="navbar-nav">
      <li class="nav-item">
          <a class="nav-link ml-5 mr-5" routerLink="/logo" routerLinkActive="active">logo</a>
        </li>
    <li class="nav-item">
      <a class="nav-link ml-5 mr-5" routerLink="/ProjectName" routerLinkActive="active">ProjectName</a>
    </li>
    <li class="nav-item">
      <a class="nav-link ml-5 mr-5" routerLink="/DashBoard"routerLinkActive="active">DashBoard</a>
    </li>
    <li class="nav-item">
        <a class="nav-link ml-5 mr-5" routerLink="/singleorder" routerLinkActive="active">singleorder</a>
     
    </li>
    <li class="nav-item">
        
        <a class="nav-link ml-5 mr-5" routerLink="/MultipulOrder" routerLinkActive="active">Multipleorder</a>
      </li>
      <li class="nav-item">
          <a class="nav-link ml-5 mr-5" routerLink="/Reports" routerLinkActive="active">Reports</a>
        </li>
      
          <select>
            <option value="1">
              emp
            </option>
            <option value="2">
              num
            </option> <option value="3">
              name
            </option>
          </select>
          
  </ul>
</nav>





<!----nav>
  <a routerLink="/crisis-center" routerLinkActive="active">Crisis Center</a>
  <a routerLink="/heroes" routerLinkActive="active">Heroes</a>
</nav-->




<router-outlet></router-outlet>